# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=uride_db
DB_ROOT_PASSWORD=password

# Aplicación
PORT=3000
JWT_SECRET=tu_secreto_aqui
HASH_SALT=10

# Reglas
INSTITUTIONAL_EMAIL_DOMAIN=@universidad.edu.co

# Admin
ADMIN_EMAIL=admin@universidad.edu.co
ADMIN_PASSWORD=admin123

# Firebase Config
TYPE=service_account
PROJECT_ID=your_project_id
PRIVATE_KEY_ID=your_private_key_id
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
CLIENT_ID=your_client_id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project.iam.gserviceaccount.com
UNIVERSAL_DOMAIN=googleapis.com
